.logo{
    background-image: url(SLV4-Hero-01-Cupolino-1600x1000.jpg);
    height: 1000px;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-position: center center;
}
nav{
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    width: 90%;
    margin: 2rem auto 0 auto;
   }
   .lego{
       margin-top: 2.5rem;
       font-family: 'Righteous', cursive;
   }
   .menu{
    font-family: 'Abel', sans-serif;
   }
   .text-caption{
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin-top: 30rem;
   }
   .panitext{
       margin-left: 12rem;
   }
   .podval{
    background-color: black;
    color: gray;
    padding-bottom: 4rem;
}
.ducati{
    font-family: 'Russo One', sans-serif;
    font-size: 3rem;
}
.lic{
    margin-top: 2rem;
}
.btn{
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 5rem;
    border: 1px solid black;
}
