.logo{
    background-image: url(Riapertura-Concessionari-Hero-1600x1000-!.jpg);
    height: 1000px;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-position: center center;
}
.covid{
    background-size: cover;
    margin: 0 auto;
    margin-top: 3rem;
}
nav{
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    width: 90%;
    margin: 2rem auto 0 auto;
   }
   .lego{
       margin-top: 2.5rem;
       font-family: 'Righteous', cursive;
   }
   .text{
    margin-top: 5rem;
    font-family: 'Fjalla One', sans-serif;
   }
   .menu{
    font-family: 'Abel', sans-serif;
   }
   .text-caption{
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin-top: 30rem;
   }
   .cards{
    font-family: 'Dosis', sans-serif;
   }
   .nsl{
       background-image: url(SL-V4-Banner-1330x600.jpg);
       margin-top: 5rem;
       height: 500px;
       
       background-size: cover;
       background-position: center;
       color: white;
   }
   .bike-text{
       margin-top: 5rem;
   }
